body{
    background-color: rgb(24, 23, 23);
     height: 100vh;
     background-size: 100%;
  }
  
  .s{
      background-color: #2c2a2a;
      width: 50%;
      height: 70%;
      border-radius: 10px;
      position: absolute;
      top: 20%;
      left: 25%;
      
  }
  
  .d .s .reg h1{
      padding: 50px;
     color:white ;
      font-size: 35px;
  text-align: center;
  margin-bottom: 0%;
  }
  .d .s  .reg  label .a{
      color: grey;
      margin-left: 0%;
      font-size: 16px;
      margin-bottom: 2px;
  
   }
   .d .s  .reg  label{
      color: grey;
      margin-left: 10%;
      font-size: 16px;
      margin-bottom: 2px;
  
   }
   .d .s .reg input{
      margin-left: 10%;
      margin-right: 10%;
      width: 80%;
      margin-top: 5px;
      margin-bottom: 20px;
      background-color: #2c2a2a;
      border-radius: 3px;
     
   }
  
   .d .s .reg label button{
      margin-right: 20%;
      margin-left: 20%;
      width: 60%;
      padding: 5px;
      color: white;
      text-align: center;
      background-color: red;
      font-size: 16px;
  
   }
   .d .s .reg label h5{
      text-align: center;
      color: grey;
   }
   .d .s .reg label h5 a{
      color: red;
   }